{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TOKYO</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
        
        
        <!--java script section-->
        <script type="text/javascript" src="{%static '/js/jquery-3.7.0.min.js'  %}"></script>
        <script type="text/javascript" src="{%static '/js/nav.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!--jquery script section-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <script>
        //Show more button 
        function scrollToContent() {
            const contentSection = document.querySelector('.content');
            
            if (contentSection) {
              contentSection.scrollIntoView({ behavior: 'smooth' });
            }
          }

        //Show Event
        function showevent(id){
            csrftoken = $("input[name='csrfmiddlewaretoken']").val();

            //alert(id+"__"+csrftoken);
            data= {event_id: id};
            $.ajax({
                url: "/event/ajax/",
                data : data,
                method : 'POST',
                headers: {
                              'X-CSRFToken': csrftoken
                         },
                success: function (data) {
                   console.log(data);
                   $($(".jquery-modal.blocker.current #id_pk")[0]).val(data.id_pk);
                   $($(".jquery-modal.blocker.current #title")[0]).val(data.title);
                   $($(".jquery-modal.blocker.current #lastname")[0]).val(data.lastname);
                   $($(".jquery-modal.blocker.current #firstname")[0]).val(data.firstname);
                   $($(".jquery-modal.blocker.current #phonenumber")[0]).val(data.phonenumber);

                   $($(".jquery-modal.blocker.current #email")[0]).val(data.email);
                   dateb = new Date(data.datebegin);
                   datee = new Date(data.dateend);
                   $($(".jquery-modal.blocker.current #datebegin")[0]).val(dateb.toISOString().slice(0, 19));
                   $($(".jquery-modal.blocker.current #dateend")[0]).val(datee.toISOString().slice(0, 19));
                   $($(".jquery-modal.blocker.current #description")[0]).val(data.description);
                },
                error: function (data) {concole.log(data)}
            });
            $('#add-event-form').modal();

          }



          function scrollToTableContainer() {
            const tableContainer = document.querySelector('.table-container');
            
            if (tableContainer) {
              tableContainer.scrollIntoView({ behavior: 'smooth' });
            }
          }



    </script>
    <body>
        <header class="booking-page">
            <nav>
                <div class="logo">
                    TOKYO.
                </div>
                <div class="icon">
                    <span class="toggle">☰</span>
                </div>
                <div>
                    <ul class="list-item">
                        <li><a href="{%url 'home_start'%}">Головна</a></li>
                        <li><a href="{%url 'halls'%}">Зали</a></li>
                        <li><a href="{%url 'contacts'%}">Контакти</a></li>
                        <li><a href="{%url 'booking'%}">Бронювання</a></li>
                    </ul>
                </div>
            </nav>
            <div class="maincover">
                <h1 class="maincoverlogo">Бронювання.</h1>
                <h3>Capture the moment. Preserve it. Revive the Memories.</h3>
                <button type="button" class="moreinfo" onclick="scrollToContent()">Забронювати зараз</button>
                <button type="button" class="booknow" onclick="scrollToTableContainer()">Переглянути календар</button>
            </div>
        </header>
        <div class="content">
            <h2 name="title-booking">Бронювання</h2>
            <p>
                Наша фотостудія пропонує зручну можливість онлайн-бронювання. 
                Щоб здійснити бронювання, будь ласка, заповніть наведену нижче форму.
                Після цього Ви зможете переглянути всі заброньовані на поточний місяць
                події та редагувати свої записи в календарі. 
            </p>
           
            <!-- label and input for lastname -->
            <form action="/events/" method="post">
                {% csrf_token %}
              
                <label for="title"><b>Назва події</b></label>
                <input
                    type="text"
                    placeholder="Введіть назву події"
                    name="title"
                    id="title"
                    required
                /><br>

                <!-- label and input for lastname -->
                <label for="lastname"><b>Прізвище</b></label>
                <input
                    type="text"
                    placeholder="Введіть Прізвище"
                    name="lastname"
                    id="lastname"
                    required
                /><br>

                <!-- label and input for firstname -->
                <label for="firstname"><b>Ім'я</b></label>
                <input
                    type="text"
                    placeholder="Введіть Ім'я"
                    name="firstname"
                    id="firstname"
                    required
                /><br>

                <!-- label and input for email -->
                <label for="phonenumber"><b>Номер телефону</b></label>
                <input
                    type="text"
                    name="phonenumber"
                    id="phonenumber"
                    placeholder="Введіть номер телефону"
                    required
                /><br>

                <!-- label and input for email -->
                <label for="email"><b>Email</b></label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Введіть email"
                    required
                /><br>

                 <!-- label and input for email -->
                 <label><b>Зала</b></label>
                 <select>
                    <option disabled="disabled" selected="selected" required>Виберіть зал</option>
                    <option value="hall1">Великий зал</option>
                    <option value="hall2">Малий зал</option>
                </select> <br>
                
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <!-- label and input for email -->
                <label><b>Вкажіть початок бронювання</b></label>
                <input 
                    type="datetime-local" 
                    id="localdate" 
                    name="datebegin" 
                    
                    min="09:00"
                    max="18:00"
                    required
                /><br>

                <!-- label and input for email -->
                <label><b>Вкажіть кінець бронювання</b></label>
                <input 
                    type="datetime-local" 
                    id="localdate" 
                    name="dateend" 
                    required 
                    min="09:00"
                    max="18:00"
                /><br>
                
                <!-- label and input for email -->
                <label for="description"><b>Опис</b></label>
                <textarea
                    type="text"
                    name="description"
                    id="description"
                    placeholder="Вкажіть опис події"
                    required
                ></textarea><br>
                
                <input type="submit" value="Забронювати"/>
            </form>

            <form action="/events/" method="post" class="modal" id="add-event-form">
                {% csrf_token %}
                
                <input type="hidden" id="id_pk" name="id_pk">
                <label for="title"><b>Назва події</b></label>
                <input
                    type="text"
                    placeholder="Введіть назву події"
                    name="title"
                    id="title"
                    required
                /><br>

                <!-- label and input for lastname -->
                <label for="lastname"><b>Прізвище</b></label>
                <input
                    type="text"
                    placeholder="Введіть Прізвище"
                    name="lastname"
                    id="lastname"
                    required
                /><br>

                <!-- label and input for firstname -->
                <label for="firstname"><b>Ім'я</b></label>
                <input
                    type="text"
                    placeholder="Введіть Ім'я"
                    name="firstname"
                    id="firstname"
                    required
                /><br>

                <!-- label and input for email -->
                <label for="phonenumber"><b>Номер телефону</b></label>
                <input
                type="text"
                name="phonenumber"
                id="phonenumber"
                placeholder="Введіть номер телефону"
                required
                /><br>

                <!-- label and input for email -->
                <label for="email"><b>Email</b></label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Введіть email"
                    required
                /> <br>

                 <!-- label and input for email -->
                 <label><b>Зала</b></label>
                 <select>
                    <option disabled="disabled" selected="selected" required>Виберіть зал</option>
                    <option value="hall1">Великий зал</option>
                    <option value="hall2">Малий зал</option>
                  </select> <br>
                  {% for message in messages %}
                  {{ message }}
                   {% endfor %}
                  <!-- label and input for email -->
                  <label><b>Вкажіть початок бронювання</b></label>
                  <input type="datetime-local" id="datebegin" name="datebegin" required min="09:00"
                  max="18:00"/>
                  <br>

                  <!-- label and input for email -->
                  <label><b>Вкажіть кінець бронювання</b></label>
                  <input type="datetime-local" id="dateend" name="dateend" min="09:00"
                  max="18:00"required />
                  <br>

                   <!-- label and input for email -->
                <label for="description"><b>Опис</b></label>
                <textarea
                type="text"
                name="description"
                id="description"
                placeholder="Вкажіть опис події"
                required
                ></textarea><br>
                <input type="submit" value="Змінити">
            </form>  
            
            <div class="table-container">
                {{ calendar }}
            </div>
        </div> 
         
              
                   
            
        <footer>
            <p class="sign">© 2023 Tokyo., Inc</p>
            <ul class="nav-footer-item">
                <li><b>Contact us</li>
                <li>tokyo.photostudio@gmail.com</li>
                <li>+99 35-233-599</li>
            </ul>
           
        </footer>
    </body>
</html>