{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TOKYO</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
        
        
        <!--java script section-->
        <script type="text/javascript" src="{%static '/js/jquery-3.7.1.slim.min.js'%}"></script>
        <script type="text/javascript" src="{%static '/js/nav.js'%}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header class="main-page">
            <nav>
                <div class="logo">
                    TOKYO.
                </div>
                <div class="icon">
                    <span class="toggle">☰</span>
                </div>
                <div >
                <ul class="list-item">
                    <li><a href="#">Головна</a></li>
                    <li><a href="#">Зали</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Бронювання</a></li>
                </ul></div>
            </nav>
            <div class="maincover">
                <h1 class="maincoverlogo">TOKYO.</h1>
                <h3>Capture the moment. Preserve it. Revive the Memories.</h3>
                <button type="button" class="moreinfo">Дізнатись більше</button>
                <button type="button" class="booknow">Забронювати зараз</button>
           
            </div>
        </header>
  
        <section class="content">
            <div class="section-text-left">
                <div>
                    <h2>
                        ПРО НАС
                    </h2>
                    <p>
                        Ми - команда професіоналів, які працюють в сфері фотографії
                        та візуального мистецтва вже протягом багатьох років. 
                        Наша фотостудія є не просто місцем для створення чудових
                        зображень, але й простором, де ми надаємо умови оренди для
                        творчих і професійних фотографів.
                    </p>
                </div>
              <img src="{%static 'img/main/article1.jpg' %}" alt="Фото">
            </div>
        
            <div class="section-achievements">
                <h2>
                    ЧИМ МИ ПИШАЄМОСЬ?
                </h2>
            
                <div class="studio-achievements">
                    <div class="achievement">
                        <h4>1 000+</h4>
                        <p>постійних<br> клієнтів</p>
                    </div>
                    <div class="achievement">
                        <h4>20 000+</h4>
                        <p>фотозйомок<br> в залах</p>
                    </div>
                    <div class="achievement">
                        <h4>5+</h4>
                        <p>років надаємо<br> послуги</p>
                    </div>
                    <div class="achievement">
                        <h4>200+</h4>
                        <p>бронювань<br> кожного місяця</p>
                    </div>
                </div>
            </div>

            <div class="section-text-right">
                <img src="{%static 'img/main/article3.jpg' %}" alt="Фото">
                <div>
                    <h2>
                        ОРЕНДА ЗАЛУ
                    </h2>
                    <p>
                        Наша фотостудія пропонує оренду залу для фотозйомки
                        зі зручним розташуванням, сучасним обладнанням та гнучким 
                        графіком роботи. Ви зможете легко бронювати зал онлайн і
                        вибрати ідеальне середовище для вашої фотосесії.
                    </p>
                    <button type="button" class="booknow">Забронювати зараз</button>
                </div>    
            </div>
            
            <div class="section4">
                <div class="gallery">
                    <img src="{%static 'img/main/galery1.jpg' %}" alt="Фото">
                    <img src="{%static 'img/main/galery2.jpg' %}" alt="Фото">
                    <img src="{%static 'img/main/galery3.jpg' %}" alt="Фото">
                    <img src="{%static 'img/main/galery4.jpg' %}" alt="Фото">
                </div>
                <button type="button" class="booknow">Переглянути зали</button>
            </div>
        </section>


        <footer>
            <p class="sign">© 2023 Tokyo., Inc</p>
            <ul class="nav-footer-item">
                <li><a href="#" class="contacts-sign"><b>Contact us</a></li>
                <li><a href="#">tokyo.photostudio@gmail.com</a></li>
                <li><a href="#">+99 35-233-599</a></li>
            </ul>
          </footer>
    </body>
</html>