{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>TOKYO</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
     
        <link rel="shortcut icon" href="img/icon.ico">
        
        <!--java script section-->
        
        <script type="text/javascript" src="{%static '/js/jquery-3.5.1.slim.min.js'  %}"></script>
        
    </head>
    <style>
        
        </style>
    <script>
        $(document).ready(function(){
            $("#arrow").on("click","a", function (event) {
            event.preventDefault();
            var id = $(this).attr('href'),
            top = $(id).offset().top;
            $('body,html').animate({scrollTop: top}, 1500);
            });
        });
    </script>
    <body>
        
        <header class="mainheader3">
            <nav>
                <div class="nright">
                    <a href="booking.html">Бронювання</a>
                    <a href="contacts.html">Контакти</a>
                    <a href="gallery.html">Галерея</a>
                    <a href="index.html">Головна</a>
                </div>
                <div class="nleft">
                    <a href="index.html">
                    <span>TOKYO</span>
                </a>
                </div>
            </nav>
            <div class="sign-wrap-1">
                <span class="sign_word">Booking</span>
            </div>
            {% comment %} <div id="arrow">
                <a href="#content">
                <span  class="section"></span>
                </a>
            </div> {% endcomment %}
        </header>

        
        <div align="center">
            <h1>Бронювання</h1>
            <p>Для здійснення бронювання заповінть форму.</p>
            <!-- label and input for lastname -->
            <label for="title"><b>Назва події</b></label>
            <input
                type="text"
                placeholder="Введіть назву події"
                name="title"
                id="title"
                required
            /><br>
            
            <!-- label and input for lastname -->
            <label for="lastname"><b>Прізвище</b></label>
            <input
                type="text"
                placeholder="Введіть Прізвище"
                name="lastname"
                id="lastname"
                required
            /><br>

            <!-- label and input for firstname -->
            <label for="firstname"><b>Ім'я</b></label>
            <input
                type="text"
                placeholder="Введіть Ім'я"
                name="firstname"
                id="firstname"
                required
            /><br>

            <!-- label and input for email -->
            <label for="phonenumber"><b>Номер телефону</b></label>
            <input 
            type="text"
            name="phonenumber"
            id="phonenumber"
            placeholder="Введіть номер телефону"
            required
            /><br>

            <!-- label and input for email -->
            <label for="email"><b>Email</b></label>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Введіть email"
                required
            /> <br>
            
             <!-- label and input for email -->
             <label><b>Зала</b></label>
             <select>
                <option disabled="disabled" selected="selected" required>Виберіть зал</option>
                <option value="hall1">Зал 1 (1000 грн за годину)</option>
                <option value="hall2">Зал 2 (1500 грн за годину)</option>
              </select> <br>

              <!-- label and input for email -->
              <label><b>Вкажіть початок бронювання</b></label>
              <input type="datetime-local" id="localdate" name="date" required />
              <br>

              <!-- label and input for email -->
              <label><b>Вкажіть кінець бронювання</b></label>
              <input type="datetime-local" id="localdate" name="date" required />
              <br>

               <!-- label and input for email -->
            <label for="phonenumber"><b>Опис</b></label>
            <textarea 
            type="text"
            name="phonenumber"
            id="phonenumber"
            placeholder="Вкажіть опис події"
            required
            ></textarea><br>
        </div>
            <div class="container">
                <h1>Olha Rud datepicker</h1>
                <div>
                    <p>Виберіть дату/час:</p>
                    <div id="selected-dates"></div>
                    {{ calendar }}
                </div>
                
                
            </div>
          


          
        
        <footer> 
                developer: Olha Rud<br>
                e-mail: ok23.rud.olha@vtc.vn.ua
        </footer>
        
    </body>
</html>