@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

/* ---- Start global ---- */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Century Gothic;
    list-style: none;
}
  
body{
  width: 100%;
} 
/*  End global   */


/* ---- All PAGES elements-----*/
/* --- start HEADER --- */
header {
    height: 900px;
    width: 100%;
    position: static;
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.main-page{
    background-color: #232323;
    background-image: url('/static/img/main/maincover.jpg');
}

.hall-page{
  
  background-color: #232323;
  background-image: url('/static/img/halls/maincover.jpg');
}
 
.contacts-page{
  background-color: #232323;
  background-image: url('/static/img/contacts/maincover.jpg');
} 

.booking-page{
  background-color: #232323;
  background-image: url('/static/img/booking/maincover.jpg');
} 

.maincover {
    padding: 100px 80px;
    margin-top: 150px;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
}

.maincoverlogo  {
    font-size: 130px;
    font-weight: bold;
}

.maincover button{
    height: 50px;
    width: 180px;
    margin: 50px 40px 0px 0px;
    padding: 10px;
    font-weight: bold;
}

.moreinfo{
    color: #000000;
}

.booknow{
    color: #fff;
    border: 1px solid #fef9f9;
    background-color: #0b0e0b76;
}
/* end HEADER */

/* --- start NAVIGATION --- */
.icon {
    display: none;
}

nav {
    height: 80px;
    width: 100%;
    padding: 15px 100px;
    position: fixed;
    background-color: #0b0e0ba8;
    backdrop-filter: blur(10px);
    color: #EEE;
    font-weight: bold ;
}

.logo {
    width: auto;
    float: left;
    margin-top: 13px;
    vertical-align: middle;
    font-size: 20px;
}

.logo img {
    height: 55px;
}

.list-item {
    float: right;
    margin-top: 17px;
}

.list-item li {
    float: left;
    padding-left: 50px;
    font-size: 15px;
    transition: all .7s ease-in-out;
}

.list-item li a {
    color: #EEE;
}
/* End navigation */
  



/* --- NAVIGATION  for small screens --- */
.toggle {
    float: right;
    color: #EEE;
    font-size: 25px;
    cursor: pointer;
    margin-top: 5px;
}
/* End navigation bar for small screens  */ 

/* --- FOOTER --- */
footer {
    display: flex;
    flex-direction: row;
    width:100%;
    color: #a3a3a3;
    float: right;
    text-align: center;
    font-size: 10pt;
    padding: 20px 100px;
    background-color: #0b0e0b;
    line-height: 2;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
} 

.nav-footer-item {
    text-align: center;
    padding: 0px;
}
.contacts-sign{
  font-size: larger;
}
.nav-footer-item li {
    padding-left: 70;
    text-align: left;
    font-weight: normal;
}

.nav-footer-item a {
    color: #a3a3a3;
}

  
/* end footer */
/* END All PAGES elements*/


/* !!! MAIN PAGE */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    background-color: #ffffff;
    font-size: 15pt;
}
.content p {
  flex: 1;
  line-height: 35px;
  margin-bottom: 40px;
}

.content h2 {
  flex: 1;
  font-size: 40pt;
  margin: 50px 0px;
}

/*--section-text-left (main)*/
.section-text-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0px;
}

.section-text-left img {
  float: right;
  width: 40%;
  margin-left: 100px;
}

/*--section-achievements (main)*/
.section-achievements{
  margin-bottom: 70px;
  vertical-align: top;
}

.studio-achievements {
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.achievement {
  font-size: 15pt;
  font-weight: bold;
  height: 120px;
  width: 25%;
}

.achievement h4{
  font-size: 25pt;
  font-weight: bold;
  text-align: left;
}

.achievement p{
  padding-bottom: 50px; 
  line-height: 25px;
}

.section-achievements p:last-child {
  margin-right: 0;
}


/*--section-text-right (main)*/  
.section-text-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0px;
}
  
.section-text-right p {
    flex: 1;
    text-align: left;
}
  
.section-text-right img {
    margin-right: 100px;
    width: 40%;
}
  
.section-text-right button{
    height: 50px;
    width: 230px;
    background-color: #eeeeee00;
    color: #000000;
    border-color: #000000;
    border-width: 2px;
    float: right;
    font-size: 13pt;
    padding: 3px;
    font-weight: bold;
}

/*--gallery (main)*/  
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
.section4 button {
    background-color: #eeeeee00;
    color: #000000;
    border-color: #000000;
    border-width: 2px;
    float: right;
    font-size: 13pt;
    padding: 3px;
    height: 50px;
    width: 230px;
    font-weight: bold;
    margin: 40px 0px;
}

.gallery img {
    margin-top: 50px;
    width: 100%;
}
/*   End nav bar for small screens   */
  
/*--- CONTACTS*/
.map {
  float: right;
  width: 50%;
  margin-left: 100px;
}

.map iframe{
  float: right;
  margin-left: 100px;
  width: 100%;
}

/* КАЛЕНДАР*/


.calendar table{
    background: white; 
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ffffff00;
   
    table-layout: fixed;
}

.calendar .month{
  color:  rgb(35, 35, 35);
  font-size: 20pt;
  text-align: left;
  border: 1px solid white; 
}

.calendar .mon, .tue, .wed, .thu, .fri {
  color:  #ffffff;
  font-size: 15pt;
  background: #535353; 
  padding: 20px;
  text-align: left;
}


.calendar  .sat, .sun {
  color:  #ffffff;
  background: #3f3f3f;
  padding: 10px;
  font-size: 15pt;
}
.calendar li  {
  background-color: #03c883;
  color:  #ffffff;
  vertical-align: top;
  padding: 10px 5px;
  font-size: 11pt;
  list-style-type: none;
  border-radius:2px;
  width: 100%;
  margin: 10px 0px;
  font-weight: bold;
}

.calendar td  {
  color:  #00744c;
  background: white;
  height: 150px;
  vertical-align: top;
  padding: 10px; text-align: left; /* Выравнивание по левому краю */
}


td,th{
  border: 1px solid #e1e1e1; /* Параметры рамки */
  width: 14%;
}

.table-container { 
  overflow-x: auto; /* Вмикнути прокрутку по горизонталі */
  
  max-width: 100%; /* Обмежити ширину контейнера таблиці до 100% відносно батьківського елемента */
}




/* іоравіволадІРВЛарфдлуріалдоцуріа */
form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #03c883;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #3bc494;
}

.error {
  color: red;
  margin-top: 5px;
}







/*   Start MEDIA QUERY   */
  
@media (max-width: 809px) {
.icon {
    display: block;
    width: 100%;
    height: 80px;
}

.list-item {
    width: 100%;
    text-align: center;
    position: relative;
    top: -32px;
    margin-left: -30px;
    background-color: #0b0e0b;
    display: none;
}

.list-item li {
    text-align: center;
    padding-top:20px;
    display: block;
    float: none;
    outline: 1px solid #33333374;
    margin: 2px;
    padding: 20px 0px;
    font-size: 12pt;
}
   
header {
    height: 900px;
    width:100%;
    float: right;
    background-color: #232323;
    background-image: url("img/main/maincover.jpg");
    text-align: center;
    overflow: hidden;
    background-position: center;
}

nav {
    padding: 15px 30px;
}

.maincover {
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
    padding: 120px 30px;
    margin-top: 150px;
    font-size: 8pt;
    
}

.maincover h1 {
    font-size: 30pt;
    font-weight: bold;
}

.maincover button{
    height: 30px;
    width: 130px;
    font-size: 9pt;
    padding: 3px;
    font-weight: bold;
  margin: 20px 40px 0px 0px;
}

.booknow{
    color:#fff;
    margin: -20px 5px 0px 0px ;
    border:1px solid #fff;
    background-color: #0b0e0b76;
}

.moreinfo{
    margin:  80px 12px 0px 0px ;
    color:#000000;
    border:3px solid transparent;
}
    
footer {
    width:100%;
    color: #ffffff;
    float: right;
    text-align: center;
    font-size: 10pt;
    padding: 15px 30px;
    background-color: #0b0e0b;
    line-height: 2;
    
    margin-bottom: 0;
}
    
.nav-footer-item a {
    color: #ffffff;
}

.nav-footer-item li {
    padding-left: 30px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  font-size: 12pt;
}

.content h2 {
    flex: 1;
    font-size: 20pt;
    margin: 20px 0px;
}  

.content  p {
  flex: 1;
  line-height: 35px;
  margin-bottom: 30px;
  display: flex;
}  

/*--- section-text-left (main 809px)*/
.section-text-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}



.section-text-left img {
  float: left;
  width: 100%;
  margin-top: 30px 0px 0px 0px;
  margin-left: 0px;
}

/*--- section-achievements (main 809px)*/
.section-achievements{
  margin-bottom: 40px;
  vertical-align: top;
}

.studio-achievements {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.section-achievements p:last-child {
  margin-right: 0;
}

/*--- achievement (main 809px)*/
.achievement {
  font-size: 10pt;
  font-weight: bold;
  width: 150px;
  text-align: left;
}

.achievement h4{
  vertical-align: top;
  font-size: 24pt;
  font-weight: bold;
  text-align: left;
}

.achievement p{
  padding-bottom: 50px; 
  line-height: 20px;
}

/*--- section-text-right (main 809px)*/
.section-text-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;
}
  
.section-text-right p {
    flex: 1;
    text-align: left;
}
  
.section-text-right img {
  float: left;
  width: 100%;
  margin-left: 100px;
}
  
.section-text-right button{
  background-color: #eeeeee00;
  color: #000000;
  border-color: #000000;
  border-width: 2px;
  float: right;
  font-size: 13pt;
  padding: 3px;
  height: 50px;
  width: 230px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 0px;
}



/*--- gallery (main 809px)*/
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
  }
 
  
  .gallery img {
    margin-top: 0px;
    width: 100%;
  }
  

/*--- Мапа (main 809px)*/
.map {
  width: 100%;
  margin-left: 0px;
}
  .map iframe{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 100%;
  }





  /* КАЛЕНДАР*/

/* КАЛЕНДАР*/


.calendar table{
    border-collapse: collapse;
    background: white; 
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ffffff00;
    align-self: center;
    table-layout: fixed;
}

.calendar .month{
  color:  #3c3c3c;
  max-width: 10%;
  font-size: 20pt;
  text-align: left;
}

.calendar .mon, .tue, .wed, .thu, .fri {
  font-size: 15pt;
  text-align: center; 
}


.calendar  .sat, .sun {
  font-size: 15pt;
  text-align: center; 
}









.table-container { 
overflow-x: auto; /* Вмикнути прокрутку по горизонталі */

max-width: 100%; /* Обмежити ширину контейнера таблиці до 100% відносно батьківського елемента */

}
  
  

}
  


  